<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link rel="stylesheet" href="../assets/css/accueil.css" />
    </head>

<body>
    <div class="navbar">
        <img class="navlogo" src="https://www.ynov-informatique.com/app/uploads/2020/04/logo_ynov_campus_rvb_blanc-300x150.png">
        <input class="recherche" type="text" name="search">
        <a href="./login.html">Log Out</a>
    </div>

    <p1>Welcome To The Ynov Forum.</p1>
    <div class="container">
    
        <div class="bloc active">
            <div class="bloc-haut">
                <div class="rond">
                    <img src="../assets/img/Home.png" />
                </div>
                <p class="titre-section">Welcome</p>
                <div class="ligne"></div>
                <p class="prix">1</p>
            </div>
            <div class="contenu">
                <img src="../assets/img/Home.png" alt=""/>
                <div class="infos">
                    <h2>Welcome to The Ynov Forum.</h2>
                    <p>In this forum, you can found many informations about everythink.</p>
                    <p>BUT ! You are never going to be disrespectful to anyone. You will never send -18/NSFW content on the server
                        You will not spam, flood </p>
                    <p>Have some fun !!</p>
                </div>
            </div>
        </div>
        <div class="bloc">
            <div class="bloc-haut">
                <div class="rond">
                    <img src="../assets/img/Forum.png"/>
                </div>
                <a href="/pagepost.html" class="titre-section">Forum</a>
                <div class="ligne"></div>
                <p class="prix">2</p>
            </div>
        </div>
        <div class="bloc">
            <div class="bloc-haut">
                <div class="rond">
                    <img src="../assets/img/Registre.png"/>
                </div>
                <a href="./login.html" class="titre-section">Log Out</a>
                <div class="ligne"></div>
                <p class="prix">3</p>
            </div>
        </div>
    </div>
    <script src="Accueilapp.js"></script>
    <footer>
        <div class="footer-content">
            <h3>Ynov Paris Campus</h3>
        </div>
        <br>
    </footer>
</body>
</html>